.direnv/
.env
.env.*
!.env.example
dist/
target/
tmp/
*.log
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
